<%- include("header"); -%>
<div style="text-align:center;">
    <h1 class="heading" style="color: blueviolet;">About toDo</h1>
</div>

<div class="box">
<p>This to do list is created by Faisal Nazir from scratch after learnt from course.</p>
</div>
<%- include("footer"); -%>